<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a asp-action="Index" asp-controller="Home" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename">PAW</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a class="active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="ListaServicios">Servicios</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Eventos" asp-action="Index">Eventos</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                </li>
                <li>
                    <carrito-resumen></carrito-resumen>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>